In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
from sklearn.datasets import load_iris
iris = load_iris()

In [8]:
dir(iris)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [16]:
df=pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [17]:
df['target']=iris.target

In [20]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [23]:
x=df.drop('target', axis='columns')
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [24]:
y=df['target']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int32

In [26]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.8)

In [27]:
x_train.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
45                 4.8               3.0                1.4               0.3
96                 5.7               2.9                4.2               1.3
63                 6.1               2.9                4.7               1.4
134                6.1               2.6                5.6               1.4
19                 5.1               3.8                1.5               0.3

In [28]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()

In [29]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [30]:
model.predict(x_test)

array([0, 0, 1, 1, 2, 1, 0, 0, 0, 2, 2, 1, 1, 0, 2, 1, 0, 0, 2, 1, 2, 0,
       2, 2, 1, 0, 1, 1, 0, 2])

In [31]:
y_test

29     0
3      0
72     1
84     1
137    2
71     1
9      0
24     0
14     0
135    2
138    2
99     1
81     1
21     0
123    2
68     1
15     0
0      0
118    2
90     1
141    2
43     0
112    2
83     1
64     1
48     0
82     1
60     1
25     0
109    2
Name: target, dtype: int32

In [32]:
model.score(x_test,y_test)

0.9666666666666667